
    body {
      background-color: #f8f9fa;
    }
#table-container {
  display: inline-block;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
 