<div class="container table-container">
  <h3 class="mb-4 text-center">Employee List</h3>
  <table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <app-employee  *ngFor="let employee of listOfEmployees" [item]="employee"></app-employee>
    </tbody>
  </table>
</div>
